html, body {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #b2dfdb;
  box-sizing: border-box;
}

.petProfileContainer {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

#petName {
  text-align: center;
  margin: 2rem 0 1.5rem 0;
  text-decoration: underline;
  font-size: 2rem;
  font-weight: bold;
}

#petCard {
  background-color:  #d8fdfa;
  border-radius: 20px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.579);
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  margin: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;


  .petFrame {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  h3 {
    text-align: center;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    font-size: 1.5rem;
  }

  .field {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    display: flex;
  }
  
  
  .label {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 3rem;
    justify-content: center;
    
  }

  button {
    background-color:  #2831d8;
    color: white;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    border: none;

    &:hover {
      background-color: #179ff4;
      transition: 0.5s;
    }
  }

  .edit-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #2831d8;
    border-radius: 100px;
    color: white;
  
    border: none;
    cursor: pointer;
  }


}

@media (max-width: 600px) {

  .petProfileContainer {
    width: 100%;
    padding: 1rem;
  }

  #petCard {
    width: 100%;
    max-width: 100%;
    margin: 1rem 1rem; 
  }
}
